/*
 * Copyright 2012 Freescale Semiconductor, Inc.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/dts-v1/;
/include/ "imx28.dtsi"

/ {
	model = "bthub";
	compatible = "intelgine,whitetiger", "fsl,imx28";

	memory {
		reg = <0x40000000 0x50000000>;
	};

	apb@80000000 {
		apbh@80000000 {
			ssp0: ssp@80010000 {
				compatible = "fsl,imx28-mmc";
				pinctrl-names = "default";
				pinctrl-0 = <&mmc0_4bit_pins_wt
					&mmc0_sck_cfg>;
				bus-width = <4>;
				status = "okay";
			};

			ssp1: ssp@80012000 {
				compatible = "fsl,imx28-mmc";
				pinctrl-names = "default";
				pinctrl-0 = <&mmc1_8bit_pins_a
					&mmc1_sck_cfg>;
				bus-width = <8>;
				mmc-reset-gpios = <&gpio0 28 1>;
				mmc-reset-duration = <5>;
				status = "okay";
			};

			pinctrl@80018000 {
				pinctrl-names = "default";
				pinctrl-0 = <&hog_pins_a>;
				/*ext-supply = <&reg_ext_3v3>;*/

				hog_pins_a: hog@0 {
					reg = <0>;
					fsl,pinmux-ids = <
						0x3103 /* MX28_PAD_PWM3__GPIO_3_28 */
					>;
					fsl,drive-strength = <0>;
					fsl,voltage = <1>;
					fsl,pull-up = <0>;
				};

        /*                pwm0        dir0       but0        pwm1        dir1       but1        pwm2        dir2       but2        flyswitch  button        */
        /* pwmin-gpios = <&gpio3 18   &gpio4 4   &gpio1 14   &gpio3 28   &gpio4 6   &gpio1 13   &gpio3 29   &gpio4 7   &gpio1 12   &gpio4 3   &gpio1 15  >; */
				pwm_in_pins: pwm-in@0 {
					reg = <0>;
					fsl,pinmux-ids = <
						0x3123 /* GPIO_3_18, PWM2 */
                        0x4043 /* GPIO_4_4,  DIR2 */
                        0x10e3 /* GPIO_1_14, BUT2 */

						0x31c3 /* GPIO_3_28, PWM3 */
                        0x4063 /* GPIO_4_6,  DIR3 */
                        0x10d3 /* GPIO_1_13, BUT3 */

						0x31d3 /* GPIO_3_29, PWM4 */
                        0x4073 /* GPIO_4_7,  DIR4 */
                        0x10c3 /* GPIO_1_12, BUT4 */

                        0x4033 /* GPIO_4_3,  fly-switch */
                        0x10f3 /* GPIO_1_15, FUNCTION BUTTON */
					>;
					fsl,drive-strength = <3>;
					fsl,voltage = <1>;
					fsl,pull-up = <1>;
				};

				mmc1_8bit_pins_a: mmc1-8bit@0 {
					reg = <0>;
					fsl,pinmux-ids = <
						0x0001 /* MX28_PAD_GPMI_D00__SSP1_D0 */
						0x0011 /* MX28_PAD_GPMI_D01__SSP1_D1 */
						0x0021 /* MX28_PAD_GPMI_D02__SSP1_D2 */
						0x0031 /* MX28_PAD_GPMI_D03__SSP1_D3 */
						0x0041 /* MX28_PAD_GPMI_D04__SSP1_D4 */
						0x0051 /* MX28_PAD_GPMI_D05__SSP1_D5 */
						0x0061 /* MX28_PAD_GPMI_D06__SSP1_D6 */
						0x0071 /* MX28_PAD_GPMI_D07__SSP1_D7 */
						0x0151 /* MX28_PAD_GPMI_RDY1__SSP1_CMD */
						0x0191 /* MX28_PAD_GPMI_WRN__SSP1_SCK */
					>;
					fsl,drive-strength = <0>;
					fsl,voltage = <1>;
					fsl,pull-up = <1>;
				};
				mmc1_sck_cfg: mmc1-sck-cfg {
					fsl,pinmux-ids = <
						0x0191
					>;
					fsl,drive-strength = <1>;
					fsl,pull-up = <0>;
				};
				mmc0_4bit_pins_wt: mmc0-4bit-wt@0 {
					reg = <0>;
					fsl,pinmux-ids = <
						0x2000 /* MX28_PAD_SSP0_DATA0__SSP0_D0 */
						0x2010 /* MX28_PAD_SSP0_DATA1__SSP0_D1 */
						0x2020 /* MX28_PAD_SSP0_DATA2__SSP0_D2 */
						0x2030 /* MX28_PAD_SSP0_DATA3__SSP0_D3 */
						0x2080 /* MX28_PAD_SSP0_CMD__SSP0_CMD */
						0x20a0 /* MX28_PAD_SSP0_SCK__SSP0_SCK */
					>;
					fsl,drive-strength = <1>;
					fsl,voltage = <1>;
					fsl,pull-up = <1>;
				};

				pwm1_pins_a: pwm1@0 {
					reg = <0>;
					fsl,pinmux-ids = <
						0x3110 /* MX28_PAD_PWM1__PWM_1 */
					>;
					fsl,drive-strength = <0>;
					fsl,voltage = <1>;
					fsl,pull-up = <0>;
				};

				autra0duart_pins: autra0duart@0 {
					reg = <0>;
					fsl,pinmux-ids = <
						0x3000 /* MX28_PAD_AUART0_RX__AUART0_RX */
						0x3010 /* MX28_PAD_AUART0_TX__AUART0_TX */
						0x3022 /* MX28_PAD_AUART0_CTS__DUART_RX */
						0x3032 /* MX28_PAD_AUART0_RTS__DUART_TX */
					>;
					fsl,drive-strength = <0>;
					fsl,voltage = <1>;
					fsl,pull-up = <0>;
				};

			};

		};

		apbx@80040000 {

			power: power@80044000 {
				compatible = "fsl,imx28-power";
				status = "okay";
				interrupts = <0 1 2 3 4 5 6>;
				clocks = <&clks 41>; /* lradc clock */
				interrupt-names = "batt_bo", "vddd_bo", "vddio_bo",
					"vdda_bo", "vdd5v_droop", "dcdc4p2_bo", "vdd5v";
			};

            mxs_rtc: rtc@80056000 {
                status = "okay";
            };
			
			i2c0: i2c@80058000 {
				pinctrl-names = "default";
				pinctrl-0 = <&i2c0_pins_a>;
				status = "okay";

                sh1106: disp@3c {
                    compatible   = "sino,sh1106";
                    reg = <0x3c>;
                    blen-gpios   = <&gpio1 22 0>; /* high active */
                    lcda0-gpios  = <&gpio1 23 1>; /* low active */
                    lcdrst-gpios = <&gpio1 24 1>; /* low active */
                    lcden-gpios  = <&gpio1 25 1>; /* low active */
                };

				tca6416: gpio@20 {
					compatible = "ti,tca6416";
					//interrupt-parent = <&gpio0>;
					//interrupts = <16 8>; // MX28_PAD_GPMI_CE0N__GPIO_0_16, active-low level-sensitive 
					reg = <0x20>;
					gpio-controller;
					#gpio-cells = <2>;
					interrupt-controller;
					#interrupt-cells = <2>;
				};
			};

			pwm: pwm@80064000 {
				pinctrl-names = "default";
				pinctrl-0 = <&pwm1_pins_a>;
				status = "okay";
			};

			duart: serial@80074000 {
				pinctrl-names = "default", "off-mode";
				/*pinctrl-names = "default";*/
				pinctrl-0 = <&autra0duart_pins>; /* duart-2line   auart0-2line */
				pinctrl-1 = <&auart0_pins_a>;    /* duart-disable auart0-4line */
				switch-gpios = <&gpio1 25 1>;    /* bank-1 pin-25, low: duart-2line */
				status = "okay";
			};


			usbphy1: usbphy@8007e000 {
				status = "okay";
			};
		};
	};

	ahb@80080000 {

		usb1: usb@80090000 {
			status = "okay";
			dr_mode = "host";
			phy_type = "utmi";
			vbus-supply = <&reg_usb1_vbus>;
			pinctrl-names = "default";
			pinctrl-0 = <&usbphy1_pins_a>;
		};

	};
	regulators {
		compatible = "simple-bus";

		reg_usb1_vbus: usb1_vbus {
			compatible = "regulator-fixed";
			regulator-name = "usb1_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio4 11 0>;
			enable-active-high;
		};
	};


	pwm_in {
		compatible = "fsl,pwm-in";
		pinctrl-names = "default";
		pinctrl-0 = <&pwm_in_pins>;

                    /* pwm0        dir0       but0        pwm1        dir1       but1        pwm2        dir2       but2        flyswitch  button*/
        pwmin-gpios = <&gpio3 29 0 &gpio4 7 0 &gpio1 12 0 &gpio3 18 0 &gpio4 4 0 &gpio1 14 0 &gpio3 28 0 &gpio4 6 1 &gpio1 13 0 &gpio4 3 0 &gpio1 15 0>;
	};
};

